:root {
  --theme-color: #2C54F2;
  --theme-hover: #2648d2;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans KR', 'sans-serif';
}